
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




header{
    height: 100px;
    background-color: white;
    line-height: 100px;
    padding-left: 20px;


}

#logo{
    vertical-align: middle;
}

main{
    background-image: radial-gradient(rgb(149, 172, 246), rgb(255, 105, 240));
    height: 1300px;
}



#toboolist{
    font-weight: bolder;
    vertical-align: middle;
    font-size: 3.5rem;
    font-weight: 800;
    display: inline-block;
}

.buttons_header{
    height: 60px;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 30px;
}

.content{
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 30px;
    padding-bottom: 40px;
}
.buttons{

    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 20px;
    display: inline-block;
    height: auto;
    border: 2px solid;
    border-radius: 6px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: small;



}
ul{
    list-style-type: none;
    margin-left: 40px;
}


#button1{
    background-color:hsl(209.47deg 100% 55.69%);
    color: white;
    text-decoration: none;
    border: 2px solidhsl(202.68deg 78.85% 59.22%);
    margin-left: 10px;

}

#button2{
    border: 1px solid gray;
    color: gray;
    text-decoration: none;


}

li{
    margin-top: 20px;
}

.check{
    height: 20px;
    width: 20px;
    margin: 5px;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.positive{
    color: green;
    border-color: green;
}

.negative{
    color: red;
    border-color: red;
}

.task-type{
    height: auto;
    border: 6px solid;
    border-radius: 15px;
    color: white;
    font-size:x-small;
    
}

.editorial{
    background-color:hsl(202.68deg 78.85% 59.22%);
    border-color: hsl(202.68deg 78.85% 59.22%);
}

.q1-goals{
    background-color: hsl(262.43deg 68.05% 66.86%);
    border-color:hsl(262.43deg 68.05% 66.86%);
}

.recruiting{
    background-color:hsl(165.33deg 41.28% 57.25%);
    border-color: hsl(165.33deg 41.28% 57.25%);
}

.mobile{
    background-color: orange;
    border-color: orange;
}


.website{
    background-color:hsl(328.21deg 60% 61.76%);
    border-color:hsl(328.21deg 60% 61.76%);
}

.sales{

    background-color:hsl(69.15deg 68.91% 46.67%);
    border-color: hsl(69.15deg 68.91% 46.67%);
}